CREATE TABLE Hotel(
    HotelName VARCHAR(255),
    Location VARCHAR(255),
    Address VARCHAR(255),
    Picture VARCHAR(255),
    Description VARCHAR(255),
    PRIMARY KEY (HotelName, Address)
);

CREATE TABLE Room (
    HotelName VARCHAR(255),
    HotelAddress VARCHAR(255),
    Number INT NOT NULL,
    NrPerson INT NOT NULL,
    Floor INT NOT NULL,
    Price_Isk INT NOT NULL,
    PictureUrl VARCHAR(255),
    FOREIGN KEY (HotelName, HotelAddress)
    REFERENCES Hotel(HotelName, Address)
    PRIMARY KEY (HotelName, HotelAddress, Number)
);

CREATE TABLE Booking (
    BookingID INTEGER PRIMARY KEY AUTOINCREMENT,
    Arrival DATE NOT NULL,
    Departure DATE NOT NULL,
    nrPerson INT NOT NULL,
    OwnerName VARCHAR(255) NOT NULL,
    OwnerEmail VARCHAR(255) NOT NULL,
    FOREIGN KEY (OwnerName, OwnerEmail)
    REFERENCES User(Name, Email)
);

CREATE TABLE Booking_Room (
    BookingID INT NOT NULL,
    HotelName VARCHAR(255) NOT NULL,
    HotelAddress VARCHAR(255) NOT NULL,
    RoomNumber INT NOT NULL,
    PRIMARY KEY(BookingID, HotelName, RoomNumber)
    FOREIGN KEY(HotelName, HotelAddress, RoomNumber)
    REFERENCES Room(HotelName, HotelAddress, Number)
    FOREIGN KEY(BookingID)
    REFERENCES Booking(BookingID)
);

CREATE TABLE User (
    Name VARCHAR(255),
    Email VARCHAR(255),
    PRIMARY KEY(Name, Email)
);


--Akureyri
INSERT INTO Hotel VALUES(
    'AK-HOTEL',
    'Akureyri',
    'Borgarbraut 3',
    'vantar/upplýsingar/um/url',
    'Frábært hótel á flottum stað'
    );

INSERT INTO Room VALUES(
    'AK-HOTEL',
    'Borgarbraut 3',
    1,
    2,
    1,
    6000,
    'vantar/upplýsingar/um/url'
);
INSERT INTO Room VALUES(
    'AK-HOTEL',
    'Borgarbraut 3',
    2,
    3,
    1,
    8000,
    'vantar/upplýsingar/um/url'
);
INSERT INTO Room VALUES(
    'AK-HOTEL',
    'Borgarbraut 3',
    3,
    3,
    1,
    8500,
    'vantar/upplýsingar/um/url'
);


INSERT INTO Hotel VALUES(
    'Klett-Hotel',
    'Akureyri',
    'Klettaborg 28',
    'vantar/upplýsingar/um/url',
    'Frábært hótel á flottum stað'
    );



INSERT INTO Hotel VALUES(
    'Gull Borgir',
    'Akureyri',
    'Norðurslóð 17',
    'vantar/upplýsingar/um/url',
    'Frábært hótel á flottum stað'
    );

--Reykjavík




--Ísafjörður






--Egilsstaðir





